
body {
    background-color:RGB(42,42,42);
    color: white;
    font: 14px sans-serif;

}

body #wrapper {
    position: relative;
    margin:auto;
    margin-top:5em;
    width: 400px;
    padding: 20px;
    }

body #back {
    margin-top: 1em;
    margin-left: 1em;
    font: 15px sans-serif;
}

hr {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: inset;
    border-width: 1px;
}
